.availablesec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
  }
  
  .secdiv1, .secdiv2 {
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    background: #fff;
  }
  
  .secdiv1 {
    width: 100%;
    max-width: 40vw;
    align-items: center;
    justify-content: center;
  }
  
  .secdiv1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .secdiv2 {
    width: 100%;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .titlehosp {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .loc {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .loc span {
    margin-bottom: 8px;
  }
  
  .loc input, .loc select {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .xxx {
    flex: 1;
    padding: 8px;
  }
  
  .ans {
    color: rgb(127, 121, 121);
  }
  
  .bookWaste {
    display: flex;
    justify-content: center;
  }
  
  .otpfields {
    display: flex;
    gap: 1rem;
  }
  
  .otpfields input {
    width: 2rem;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: large;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .secdiv1, .secdiv2 {
      width: 90vw;
    }
  
    .titlehosp {
      font-size: 1.5rem;
    }
  
    .loc {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .loc input, .loc select {
      margin-left: 0;
      margin-top: 4px;
      width: 100%; /* Make input/select fields full width in smaller screens */
    }
  
    .bookWaste Button {
      width: 80vw;
    }
  }
  